# Bỏ qua các thư mục dữ liệu và mô hình nặng
data/processed/
data/tn3k/
checkpoints/
logs/
result/

# Bỏ qua các file mô hình
*.pt
*.pth
*.h5
models/
checkpoints/
weights/

# Nếu có thư mục logs, outputs nặng cũng nên bỏ qua
logs/
outputs/

# Bỏ các file Jupyter Notebook nếu không cần
*.ipynb
